.align_left {
  text-align: left;
  font-weight: normal;
  color: #808080;
}

#login_text  {
  color: #559;
  font-size: 17px;
}

strong  {
  color: black;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


/* .login_button {
  background-color: rgb( 24, 118, 232);
  width: 300px;

  background-color: white;
  border-radius: 8px;
  color: #004e96;
  padding: 6px 20px;
  font-weight: bold;
} */
